<app-topo></app-topo>
<!-- (método da classe que eu quero executar)="defino quando eu quero executar esse evento com base no output feito pelo componente filho" -->
<div *ngIf="jogoEmAndamento; else fimDeJogo">
    <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>
<!-- essa diretiva funciona como um template, porém sem um componente -->
<ng-template #fimDeJogo>
    <div class="container" style="margin-top: 150px; margin-left: 500px">
        <div class="row">
            <div *ngIf="tipoEncerramento=='derrota'; else vitoria">
                <div class="col" >
                    <h3 style="color:black; font-size: 100px; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif"> YOU DIED!</h3>
                </div>
            </div>
            <ng-template #vitoria>
                <div class="col" >
                    <h3 style="color:black; font-size: 100px; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif "> YOU WON!</h3>
                </div>
            </ng-template>           

        </div>
    </div>
    <div class="row" style="padding-top:300px">
        <div class="col" style="padding-right:75px;">
            <button type="button" class="btn btn-primary btn-lg" style="float:right;" (click)="reiniciarJogo()">Play Again</button>
        </div>
    </div> 
</ng-template>
